<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299575894570-b73j7hisitvf3ce7bmbtiv6tvd6vu4ha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299575894570-b73j7hisitvf3ce7bmbtiv6tvd6vu4ha</string>
	<key>API_KEY</key>
	<string>AIzaSyD88Fz5pv1TEJBbNe7nVavb8hePwAWODNw</string>
	<key>GCM_SENDER_ID</key>
	<string>299575894570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nearflutterconnector</string>
	<key>PROJECT_ID</key>
	<string>near-connector</string>
	<key>STORAGE_BUCKET</key>
	<string>near-connector.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299575894570:ios:e4f109b36557d9cfde1953</string>
</dict>
</plist>